.App {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.board {
  -webkit-filter: drop-shadow(0px 5px 5px #222);
  filter: drop-shadow(0px 5px 5px #222);
}

.car {
  position: absolute;
  bottom: 2px;
  left: 285px;
}

.flipped {
  transform: rotateY(180deg);
}
